In [2]:
import pandas as pd
# If using a CSV file
df = pd.read_csv('IMDB Dataset.csv')  # Columns: review, sentiment

TypeError: Cannot convert numpy.ndarray to numpy.ndarray

In [2]:
df.shape

(50000, 2)

In [3]:
print(df.isnull().sum())
df = df.dropna()

review       0
sentiment    0
dtype: int64

In [4]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
#Lowercasing the Text
df['review'] = df['review'].str.lower()

In [7]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [8]:
#Removing HTML Tags
import re#re->regex
df['review'] = df['review'].apply(lambda x: re.sub(r'<.*?>', '', x))

In [9]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [10]:
#removing urls
df['review'] = df['review'].apply(lambda x: re.sub(r'http\S+|www\S+|https\S+', '', x))

In [11]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [12]:
#Removing Special Characters and Digits
df['review'] = df['review'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

In [13]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [14]:
#Removing Extra Whitespace
df['review'] = df['review'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [15]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [16]:
import string
# Remove punctuation from the 'review' column
df['review'] = df['review'].apply(lambda x: re.sub(rf"[{re.escape(string.punctuation)}]", "", x) if isinstance(x, str) else x)

In [17]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [18]:
    pip install pyspellchecker

Requirement already satisfied: pyspellchecker in /home/iiit/anaconda3/envs/a1/lib/python3.10/site-packages (0.8.3)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from spellchecker import SpellChecker

spell = SpellChecker()

# Count how many words in a sample are not in the dictionary
sample_review = df['review'].iloc[0]  # or loop through a few
words = sample_review.lower().split()
misspelled = spell.unknown(words)

print("Misspelled words:", misspelled)

Misspelled words: {'viewingthats', 'moreso', 'couldnt', 'methe', 'doesnt', 'wouldnt', 'wordit', 'awayi', 'penitentary', 'youll', 'wholl', 'romanceoz', 'manyaryans'}

In [23]:
pip install emoji

Requirement already satisfied: emoji in /home/iiit/anaconda3/envs/a1/lib/python3.10/site-packages (2.14.1)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import emoji
from collections import Counter

# Function to extract emojis from text
def extract_emojis(text):
    if not isinstance(text, str):
        return []
    return [char for char in text if emoji.is_emoji(char)]

# Apply function to all reviews
emoji_list = df['review'].apply(extract_emojis)

# Flatten the list of lists into one big list
all_emojis = [em for sublist in emoji_list for em in sublist]

# Count frequency of each emoji
emoji_freq = Counter(all_emojis)

# Print results
print(f"Total number of emojis: {len(all_emojis)}")
print(f"Unique emojis used: {len(emoji_freq)}")
print("Emoji frequencies (Top 10):")
for em, count in emoji_freq.most_common(10):
    print(f"{em} : {count}")

Total number of emojis: 0
Unique emojis used: 0
Emoji frequencies (Top 10):

In [26]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')  # run only once
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /home/iiit/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
def contains_stopwords(text):
    if not isinstance(text, str):
        return False
    words = text.lower().split()
    return any(word in stop_words for word in words)

In [28]:
df['has_stopwords'] = df['review'].apply(contains_stopwords)

In [31]:
total_reviews = len(df)
reviews_with_stopwords = df['has_stopwords'].sum()

print(f"Total reviews: {total_reviews}")
print(f"Reviews containing stopwords: {reviews_with_stopwords}")
print(f"Percentage with stopwords: {(reviews_with_stopwords / total_reviews) * 100:.2f}%")

Total reviews: 50000
Reviews containing stopwords: 0
Percentage with stopwords: 0.00%